/* Если ты используешь для margin и padding пиксели, то используй везде только их, а не пиксели в одном месте и проценты в другом */

.background {
    background-color: #a4d0d9;
}

.top-text {
    display: inline-block;
    margin-left: 130px;
    color: #4c4e4e;
    font: bold 30px "Courier";
}

.top-buttons-left-margin {
    display: inline-block;
    margin-left: 220px;
}

.top-buttons {
    display: inline-block;
    margin-right: 0;
    padding: 4px;
    text-align: center;
    color:  #4c4e4e;
    font: bold 17px "Courier";
}

.top-buttons:hover {
    cursor: pointer;
    background-color: #4c4e4e;
    border-color: #4c4e4e;
    border-radius: 5px;
    text-align: center;
    color: #a4d0d9;
}

.center-block {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-left: 130px;
    margin-right: 130px;
}

.center-text {
    width: 500px;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    color: white;
    font: bold 60px "Courier";
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.center-img {
    margin-left: 3%;
    width: 300px;
     height: 300px; 
    text-align: center;
}

.center-buttons{
    display: inline-block;
    padding-left: 49%;
    padding-bottom: 2%;;
}

.bottom-text-blocks {
    margin-left: 3%;
    margin-top: 30px;
}

.bottom-imgs {
    width: 150px; 
    height: 150px; 
}

.block-one {
    display: inline-block;
    margin-top: 60px;
    margin-right: 15px;
    width: 300px;
    height: 400px;
}

.block-two {
    margin-top: 60px;
    display: inline-block;
    width: 300px;
    height: 400px;
}

.bottom-img-bulb {
    padding-bottom: 10px;
    width: 70px; 
    height: 100px; 
}

.block-three {
    margin-top: 60px;
    display: inline-block;
    width: 300px;
    height: 400px;
}

.bottom-bold-text {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    font: bold 12px "Courier";
}

.bottom-text {
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
    color: #4c4e4e;
    font: 11px "Courier";
}